*{
    margin: 0;
    padding: 0;
}
body{
    font-family: noto-sans,
    sans-serif;
}
.menu{
    background-color:#F26444;
    padding: 20px;
    width: 100%;
    display: flex;
    top: 0px;
    position: fixed;
}
.menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
h1{
    font-size: 25px;
}
.picture{
border-radius: 100%;
}
.header{
    text-align: center;
    background-color: #1D1C40;
    padding: 100px 100px;
    color: white;
    top: 100px;
    display;
    
}
.icon{
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline;
}