*{
    margin: 0;
    padding: 0;
}
body{
    font-family: noto-sans,
    sans-serif;
}
.menu{
    background-color:#D93B92;
    padding: 20px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
}
h1{
    font-size: 25px;
}
.picture{
border-radius: 100%;
}
.header{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
.icon{
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline;
}