.home-name{
    display: flex;
    .home-firstname{
        opacity: 0.5;
    }
}

main button{
    padding: 15px 30px;
    border-radius: 30px;
    border: none;
    background-color: $color-additional-blue;
    color: $color-font-white;
    font-family: $font-stack;
    font-size: 20px;
    margin-top: 30px;
}

main button:hover {
    background-color: $color-primary-tryellow;
}
.container {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        justify-content: center;
    }
}

.softIMG div {
    background-color: $color-trwhite;
    @include elavation;
    width: 150px;
    height: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.projectIMG div {
    width: 300px;
    height: 200px;
    img {
        border-radius: 20px;
        width: 280px;
        @include elavation;
    }
}

.about {
    width: 50%;
}