.link::before {
    content: "";
    display: none; /* esconde o conteúdo por padrão */
  }

  img:hover + .link::before {
    display: inline-block;
    position: absolute;
    background-color: $color-primary-tryellow;
    padding: 2px;
    border-radius: 5px;
    left: 57px;
    top: 315px;
}

img:hover + .link-home::before {
    margin-top: -277px;
    content: 'Home';
}

img:hover + .link-about-pt::before {
    margin-top: -230px;
    content: 'Sobre';
}

img:hover + .link-about-en::before {
    margin-top: -230px;
    content: 'About';
}

img:hover + .link-skills-pt::before {
    margin-top: -185px;
    content: 'Habilidades';
}

img:hover + .link-skills-en::before {
    margin-top: -185px;
    content: 'Skills';
}

img:hover + .link-project-pt::before {
    margin-top: -138px;
    content: 'Projetos';
}

img:hover + .link-project-en::before {
    margin-top: -138px;
    content: 'Projects';
}

img:hover + .link-blog::before {
    margin-top: -92px;
    content: 'Blog';
}

img:hover + .link-contact-pt:before {
    margin-top: -45px;
    content: 'Contato';
}

img:hover + .link-contact-en:before {
    margin-top: -45px;
    content: 'Contact';
}