.animation-type-en {
    border-right: 3px solid $color-font-white;
    overflow: hidden;
}

.animation-type-pt {
    border-right: 3px solid $color-font-white;
    overflow: hidden;
    width: 30em;
}

.typing-animation-en {
    animation: blinkCursor 900ms steps(40) infinite normal, typing-en 4s steps(30) 0s normal;
}
.typing-animation-pt {
    animation: blinkCursor 900ms steps(40) infinite normal, typing-pt 4s steps(30) 0s normal;
}

@keyframes typing-en {
    from {
        width: 0;
    }
    to {
        width: 37em;
    }
}

@keyframes typing-pt {
    from {
        width: 0;
    }
    to {
        width: 30em;
    }
}


@keyframes blinkCursor {
    from {
        border-right-color: $color-font-white;
    }
    to {
        border-right-color: transparent;
    }
}