//color clean

$color-additional-blue:#4158D0;
$color-secondy-pink:#C850C0;
$color-primary-yellow: #FFCC70;
$color-font-white: white;

//color with transparent
$color-additional-trblue:#4159d059;
$color-secondy-trpink:#c850c053;
$color-primary-tryellow: #ffcd705d;
$color-trwhite: rgba(255, 255, 255, 0.266);

@mixin elavation (){
    box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.025)
}

//color dark

$color-additional-black:#000000;
$color-secondy-cinza:#203c4b;
$color-primary-cinza: #313430;

//color with transparent
$color-additional-trblack:#0000005b;
$color-secondy-trcinza:#203c4b5a;
$color-primary-trcinza: #31343060;
$color-trwhite: rgba(255, 255, 255, 0.266);

@mixin BackgroudPage ($value1, $value2, $value3){
background-color: $value1;
background-image: linear-gradient(43deg, $value1 0%, $value2 50%, $value3 100%);
}